.container{
    width: 1700px;
    height: 135px;
    background-color: rgb(247,68,46);
    padding: 20px;    
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 1700px;
}
  nav ul{
    display: flex;
    color: rgb(255, 255, 255);
    list-style: none;     
    
}
nav ul, li{
    margin: 15px;
    padding-left: 0px;
    display: flex;
    margin-top: 0%;
   flex-grow: 3;
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   font-family: sans-serif, tahoma;
   font-size: 15px;
   
}
.li-center{
    margin-right: 420px;

}

ul, li:hover{
    color: rgb(210, 200, 200);
    cursor: pointer;
}
.border::before {
    content: "|"; 
    color: rgb(255, 255, 255); 
    margin-right: 25px;
}




.search-container {
            display: flex;
            align-items: center;
            border: 0px solid #ccc;
            border-radius: 5px;
            width: 4000px;
            height: 1px;
            
            margin-left: 125px;
            padding-top: 25px;
            
} 

.search-input {
            border: none;
            outline: none;
            flex: 1;
            padding: 15px;
}

.search-button {
            background-color: orange;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 0px;
            width: 50px;
            height: 44px;
}        
.search-button-img{
    width: 10px;
    height: 10px;
}

.img,.search-container{
    display: flex;
}
.hinhgiohang{
   padding-left:100px;
   padding-top: 9px;
   padding-right: 50px;
}
   .product{
    margin-top: 10px;
    margin-left: 250px;
   }
.main-content{
    display: block;
    background-color: white;
    width: 1740px;
    height: 424px;
    margin-top: 187px;
}
   .anh1{
    width: 795px;
    height: 233px;
    padding-top: 50px;
    padding-left: 277px;
    display: flex;
    
  }
  .anh2{
    padding-top:1px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    
  }
  
  
  
  .main-content2{
width: 1740px;
height: 114px;
margin-top: 10px;
display: flex;
background-color: white;
  }
  .mini-main-2{
width: 114px;
height: 114px;
padding-left: 270px;
margin-right: -118px;
place-items: center;  

}
.mini-main2-img{
    margin-left: 32px;
    margin-top:28px;    
}

.danhmuc{
    font-family: sans-serif, tahoma;
    margin-left: -20px;
    justify-content: center;
}
.sanpham{
    width: 1740px;
    height: 3000px;
    background-color:rgb(245,245,245);
}
.danhmucsanpham{
    width: 1199px;
    height: 360px;
    margin-left: 140px;
    padding-top: 36px;
}
.chudanhmuc{
    width: 1440px;
    height: 100px;
    background-color: white;
}
.title{
    font-family: sans-serif, tahoma;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 40px;
    color: #ccc;
}
.sanphamchung{
    width: 1440px;
    height: 230px;
    background-color: white;
    display: flex;
}
.sanphamchungmini{
    width: 144px;
    height: 230px;
    border: 1px solid rgb(245,245,245);
}

.sanphamchung2{
    width: 1440px;
    height: 230px;
    background-color: white;
    display: flex;
}
.sanphamchungimg{
    margin-left: 2px;
}
.sanphamchungtext{
    margin-left: 15px;
    font-family: sans-serif, tahoma;
    font-size: 25px;
    display:grid;
    align-items: center;
    cursor: pointer;
}

.danhmucsanpham2{
    width: 1199px;
    height: 360px;
    margin-left: 140px;
    margin-top: 250px;
}
.khungflashsale{
    width: 1440px;
    height: 100px;
    background-color: white;
    display: flex;
}
.flashsaletext1{
    font-family: sans-serif, tahoma;
    font-size: 34px;
    margin-left: 85px;
    padding-top: 28px;
    color: red;
    font-weight: bold;
}
.flashsaletext2{
    font-family: sans-serif, tahoma;
    font-size: 20px;
    margin-left: 1000px;
    padding-top: 40px;
    color: red;
}
.flashsaleitems{
    width: 1440px;
    height: 450px;
    display: flex;
    background-color: white;
}
.flashsaleitem{
    margin-left: 32px;
}
.giaflashsale{
    font-family: sans-serif, tahoma;
    margin-left: 105px;
    font-size: 28px;
    padding-top: 25px;
    color: rgb(238, 77, 45);
}
.banner{
    width: 1440px;
    height: 200px;
    margin-left: 139px;
    padding-top: 220px;
    display: flex;
}
.khungsandeal{
    width: 1442px;
    height: 580px;
    margin-left: 136px;
    margin-top: -40px;
    background-color: white;
}
.sandealheadersection{
    width: 1432px;
    height: 82px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    border-bottom: rgb(245, 245, 245) solid 1px;
}
.khungsandealtext1{
font-family: sans-serif, tahoma;
 margin-left: 50px;
    font-size: 28px;
    padding-top: 25px;
    color: rgb(208, 1, 27);
}
.khungsandealtext2{
font-family: sans-serif, tahoma;
 margin-left: 50px;
    font-size: 28px;
    padding-top: 25px;
    color: rgb(0, 0, 0);
}
.sandeal-img{
    margin-top: 26px;
    margin-left: 10px;
    display: flex;
}
.sandeal-img2{
    margin-top: 10px;
    margin-left: 10px;
    width: 1040px;
    height: 452px;
}
.sandealmini-img{
    margin-top:-10px ;
    margin-left:30px ;
}
.sandealtext{
   font-family: sans-serif, tahoma;
    margin-left: 48px;
    font-size: 21px;
    margin-top: -33px;
    color: rgb(208, 1, 27); 
}
.img-line1{
    width: 1040px;
    height: 225px;
    display: flex;
}
.img-line2{
  width: 1040px;
    height: 225px;
    display: flex;  





}
.timkiemhangdau{
    width: 1445px;
    height: 300px;
    margin-top: 10px;
    margin-left: 135px;
    background-color: white;
}
.timkiems1mini{
    width: 1445px;
    height: 60px;
    display: flex;
    border-bottom: rgb(245, 245, 245) solid 1px;
}
.timkiems1minitext{
    font-family: sans-serif, tahoma;
    margin-left: 30px;
    font-size: 18px;
    padding-top: 20px;
    color: rgb(208, 1, 27); 
}
.timkiems1minitext2{
    font-family: sans-serif, tahoma;
    margin-left: 1125px;
    font-size: 18px;
    padding-top: 20px;
    color: rgb(208, 1, 27); 
}
.timkiems1large{
    width: 1442px;
    height: 240px;
    background-color: white;
    display: flex;
}
.timkiems1-img{
    width: 217px;
    margin-left: 18px;
}
.timkiems1-smalltext{
    background-color: rgb(0, 0, 0, 0.26);
    width: 187px;
    height: 30px;
    font-family: sans-serif, tahoma;
    cursor: pointer;
    line-height: 32px;
    position: absolute;
    text-align: center;
    margin-top: -31px;
    margin-left: 16px;
    color: white;
}
.timkiems1-bigtext{
    font-family: sans-serif, tahoma;
    margin-left: 56px;
    font-size: 24px;
    padding-top: 28px;
    color: rgb(0, 0, 0); 
    display: flex;




}
.goi-y-container{
    width: 1440px;
    height: 800px;
    margin-top: 10px;
    margin-right: 143px;   
}
.goi-y-header{
    width: 1440px;
    height: 70px;
    background-color: white;
    margin-top: 10px;
    margin-left: 141px;
    border-bottom: 5px solid rgb(238, 77, 45);
}
.goi-y-header-text{
    font-family: sans-serif, tahoma;
    font-size: 24px;
    line-height: 70px;
    margin-left: 616px;
    color: rgb(238, 77, 45);

}
.sanphamgoiy{
    width: 1430px;
    height: 273px;
    margin-top: 10px;
    margin-left: 145px;
    display: flex;
    margin-bottom: 33px
}
.sanphamgoiy-img{
    background-color: white;
    height: 291px;
    width: 234px;
    margin-left: 10px;
    margin-top: 10px;
}
.sanphamgoiy-text{
    font-family: sans-serif, tahoma;
    margin-left: 5px;
    font-size: 16px;
    padding-top: 1px;
    color: rgb(0, 0, 0); 
    display: flex; 
}
.sanphamgoiy-banner{
    align-items: center;
    border: 1px rgb(238, 77, 45) solid;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif, tahoma;
    font-size: 10px;
    height: 20px;
    line-height: 15px;
    margin-bottom: 10px;
    text-size-adjust: 10px;
    width: 56px;
    margin-top: 10px;
    color: rgb(238, 77, 45);
    margin-left: 6px;
}
.sanphamgoiy-price{
    font-family: sans-serif, tahoma;
    margin-left: 12px;
    font-size: 24px;
    color: rgb(238, 77, 45); 
    display: flex; 
}



.footer-container{
    width: 1690px;
    height: 1px;
    background-color:rgb(238, 77, 45) ;
    margin-top: -72px;
    margin-right: 10px;
}
.footer-text{
    font-family: sans-serif, tahoma;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 1px;
    color: rgb(0, 0, 0); 
}